* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
  
  /* Responsive Image Utility Classes  */
  
  .bg-image {
      background-color: rgb(240,240,240);
    background-image: url('https://source.unsplash.com/kfSjyxAWhEc');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .bg-1 {
    background-image: url('/assets/img/service1/realstate/pexels-lucas-pezeta-3197765.jpg'); 
    background-position: 70% 50%; 
  }
  .bg-2 {
    background-image: url('/assets/img/service1/architectures/pexels-pixabay-39656.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-2 {
    background-image: url('/assets/img/service1/architectures/pexels-pixabay-39656.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-3 {
    background-image: url('/assets/img/service1/interiors/pexels-nugroho-wahyu-3097112.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-4 {
    background-image: url('/assets/img/service1/realstate/pexels-rick-miller-3621798.jpg'); 
    background-position: 50% 80%; 
  }
  .bg-5 {
    background-image: url('/assets/img/service1/interiors/pexels-lisa-fotios-1090638.jpg'); 
    background-position: 50% 60%; 
  }
  .bg-6 {
    background-image: url('/assets/img/service1/architectures/pexels-maarten-van-den-heuvel-4254901.jpg'); 
    background-position: 50% 50%; 
  }


  .bg-7 {
    background-image: url('/assets/img/service1/products/pexels-vlada-karpovich-6634656.jpg'); 
    background-position: 70% 50%; 
  }
  .bg-8 {
    background-image: url("/assets/img/service1/landscapes/pexels-tomáš-malík-3022417.jpg"); 
    background-position: 50% 50%; 
  }
  .bg-9 {
    background-image: url('/assets/img/service1/fashion/pexels-arsham-haghani-3387577.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-10 {
    background-image: url('/assets/img/service1/products/pexels-karolina-grabowska-4041392.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-11 {
    background-image: url("/assets/img/service1/landscapes/pexels-christian-heitz-842711.jpg"); 
    background-position: 50% 80%; 
  }
  .bg-12 {
    background-image: url('/assets/img/service1/fashion/pexels-uncoveredlens-eze-joshua-3620411.jpg'); 
    background-position: 50% 60%; 
  }
  .bg-13 {
    background-image: url('/assets/img/service1/realstate/pexels-jonathan-borba-3255246.jpg'); 
    background-position: 50% 60%; 
  }


  .bg-14 {
    background-image: url('/assets/img/service1/fashion/pexels-vitória-santos-3050943.jpg'); 
    background-position: 70% 50%; 
  }
  .bg-15 {
    background-image: url('/assets/img/service1/architectures/pexels-akwice-3153679.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-16 {
    background-image: url('/assets/img/service1/interiors/pexels-dmitry-zvolskiy-2082087.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-17 {
    background-image: url('/assets/img/service1/fashion/pexels-daisy-anderson-5590091.jpg'); 
    background-position: 50% 50%; 
  }
  .bg-18 {
    background-image: url('/assets/img/service1/interiors/pexels-saviesa-home-2089698.jpg'); 
    background-position: 50% 80%; 
  }
  .bg-19 {
    background-image: url('/assets/img/service1/architectures/pexels-denis-perekhrest-3234167.jpg'); 
    background-position: 50% 60%; 
  }
  .bg-20 {
    background-image: url('/assets/img/service1/products/pexels-vie-studio-8148740.jpg'); 
    background-position: 50% 60%; 
  }
  .bg-21 {
    background-image: url("/assets/img/service1/landscapes/pexels-pok-rie-130879.jpg"); 
    background-position: 50% 80%; 
  }
  .bg-22 {
    background-image: url('/assets/img/service1/fashion/pexels-ichad-windhiagiri-3988680.jpg'); 
    background-position: 50% 60%; 
  }
  .bg-23 {
    background-image: url('/assets/img/service1/products/pexels-rovenimagescom-949590.jpg'); 
    background-position: 50% 60%; 
  }
  /* Filterable Gallery Styles   */
  
  .filterable-gallery .bg-image {
    padding-bottom: 100%;
  }
  
  .filterable-gallery {
    padding: 1rem;
  }
  .filterable-gallery [class*=col] {
    padding: 0.3rem;
  }
  .hidden {display: none;}
  
  /* Filter navigation */
  .portfolio-filter span {
    /* text-transform: uppercase;  */
    padding: 11px 17px;
    margin: 0.2rem;
    border-radius: 30px;
    /* border: 1px solid #0f2d49; */
    background-color: #ccc090;
    cursor: pointer;
    /* margin:2rem; */
    justify-content: space-around;
  }                   
  .portfolio-filter .active {
    /* color: #0f2d49   ; */
    /* text-decoration: underline; */
    background-color: #a27a57;
  }
  .gallery-item{
    cursor: pointer;
  }
  
  
  /* Demo Styling (no need to copy) */
  
  body {
    font-family: 'Open Sans';
  /*   background-color: rgb(245,245,245); */
    /* padding: 5%; */
    text-align: center;
  }
  
  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  
  @media (max-width:426px){
    .filterable-gallery{
      padding:0rem;
    }
    .portfolio-filter span {
    padding:6px 17px;

    }
    .lightbximg{
      
      /* right:0; */
     
      /* bottom:50% */
      /* right:50%; */

      top:40%;
      left: 25%;
      position: absolute;
      transform: translate(-25%,-37%);
  
    
    
    }
    .close i{
      top: 15px !important;
    }
    }




  .gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 40px 10px;
    display: none;
    box-sizing: border-box;
    z-index: 200;
    /* position: relative; */
}

.gallery > img {
    max-height: 100%;
    width: auto;
}

.close i {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
}

.bar {
    display: block;
    position: absolute;
    top: 13px;
    float: left;
    width: 30px;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
}

.bar:first-child {
    transform: rotate(-45deg);
}